.login-main {
    background-color: #D7B860;
    background-image: url('../../../../assets/svg/background-vector.svg');
    background-repeat: no-repeat;
    background-position: center cover;
    background-size: contain;
}

.img-container {
    width: 100%;

    img {
        width: 35%;
    }
}

.g-recaptcha {
    transform:scale(0.77);
    transform-origin:0 0;
}