.login-main {
    background-color: #D7B860;
    background-image: url('../../../../assets/svg/background-vector.svg');
    background-repeat: no-repeat;
    background-position: center cover;
    background-size: contain;
}

.form-container {
    width: 85%;
}