.recovery-main {
    background-color: #D7B860;
    background-image: url('../../../../assets/svg/background-vector.svg');
    background-repeat: no-repeat;
    background-position: center cover;
    background-size: contain;
}

label {
    font-size: .875rem;
    
}

.img-container {
    width: 100%;

    img {
        width: 160px;
    }
}