<main class="changePassword-main w-100 vh-100 d-flex justify-content-center align-items-center">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <form class="bg-white shadow px-5 py-3">
                        <div class="mb-md-5 mt-md-4">
                            <div class="text-center img-container">
                                <img src= "../../../../assets/images/logo-uc.png" class="img-fluid"/>
                            </div>
                            <div class="form-outline form-white mb-4">
                                <label class="form-label m-0 text-muted" for="userPassword">Contraseña actual</label>
                                <input formControlName="clave" type="password" id="userPassword" class="form-control" placeholder="Ingrese la contraseña"/>
                            </div>
                            <div class="form-outline form-white mb-4">
                                <label class="form-label m-0 text-muted" for="userPassword">Contraseña nueva</label>
                                <input formControlName="clave" type="password" id="userPassword" class="form-control" placeholder="Ingrese la contraseña"/>
                            </div>
                            <div class="form-outline form-white mb-4">
                                <label class="form-label m-0 text-muted" for="userPassword">Verificar Contraseña nueva</label>
                                <input formControlName="clave" type="password" id="userPassword" class="form-control" placeholder="Ingrese la contraseña"/>
                            </div>
                            <button class="btn btn-primary d-block mx-auto mt-5 px-4" type="submit">Cambiar Clave</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</main>
