<main class="login-main w-100 vh-100 d-flex justify-content-center align-items-center">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <a routerLink="/parametrizacion/crear-tipo-solicitud" class="btn btn-primary text-white ">Añadir
            <fa-icon class="pt-2 ms-2 text-white" [icon]="faPlus"></fa-icon>
          </a>
          <table class="table mt-2">
            <thead class="bg-primary text-white">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Tipo de Solicitud</th>
                <th scope="col">Doc</th>
                <th scope="col">Descargar</th>
                <th class="col-4">
                  Acciones
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let r of recordList">
                <td class="fw-bold pt-3">
                  {{r.id}}
                </td>
                <td class="pt-3">
                  {{r.nombre}}
                </td>
                <td class="pt-3">
                    {{r.formato}}
                  </td>
                <td class="pt-3">
                  <a  class="btn " (click)="descarga(r.formato)" download>
                    <u>Descargar</u>
                    </a>
                  
                  </td>
                <td class="pt-2">
                  <a routerLink="/parametrizacion/editar-tipo-solicitud/{{r.id}}" class="btn btn-primary me-2"><fa-icon class="text-white" [icon]="faEdit"></fa-icon></a>
                  <!-- <button (click)="EliminarRegistro()" type="button" class="btn btn-danger">Eliminar</button> -->
                  <!-- <a routerLink = "/parametrizacion/eliminar-comite/{{r.id}}" class="btn btn-danger">Eliminar</a> -->
                  <a (click)="EliminarRegistro(r.id)" class="btn btn-danger"><fa-icon class=" text-white" [icon]="faTrash"></fa-icon></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
