<section class="w-100 py-5 d-flex justify-content-center align-items-center">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <form [formGroup]="formulario">
          <input type="hidden">
          <p class="fs-2 fw-bold">Crear jurado</p>
          <hr class="">
          <div class="mb-3">
            <label for="nombre" required="required" class="form-label fw-bold">Nombre </label>
            <fa-icon class="ps-1 icon" size="xs" [icon]="faAsterisk"></fa-icon>
            <input formControlName="nombre" type="text" class="form-control" id="nombre">
          </div>
          <div class="mb-3">
            <label for="email" required="required" class="form-label fw-bold">Email </label>
            <fa-icon class="ps-1 icon" size="xs" [icon]="faAsterisk"></fa-icon>
            <input formControlName="email" type="email" class="form-control" id="email">
          </div>

          <div class="mb-3">
            <label for="telefono" required="required" class="form-label fw-bold">Teléfono </label>
            
            <input formControlName="telefono" type="text" class="form-control" id="telefono">
          </div>

          <div class="mb-3">
            <label for="entidad" required="required" class="form-label fw-bold">Entidad </label>
            <fa-icon class="ps-1 icon" size="xs" [icon]="faAsterisk"></fa-icon>
            <input formControlName="entidad" type="text" class="form-control" id="entidad">
          </div>

          <div class="mb-3">
            <label for="lineasInvestigacion" required="required" class="form-label fw-bold">Lineas de investigación </label>
            <fa-icon class="ps-1 icon" size="xs" [icon]="faAsterisk"></fa-icon>
            <select formControlName="lineasInvestigacion" type="select" class="form-select" 
              id="lineasInvestigacion" (change)="resetearSelect('lineasInvestigacion')">

              <option value="" [selected]="true">-- Elegir linea de investigación --</option>

              <option *ngFor="let lineaInvestigacion of lineasInvestigacionOptions" value="{{ lineaInvestigacion | json }}">
                {{ lineaInvestigacion.nombre }}
              </option>
            </select>

            <div>
              <ul class="list-unstyled mt-2 d-flex m-w-full flex-wrap gap-3">
                <li *ngFor="let lineaInvestigacion of lineasInvestigacionSeleccionadas; let i = index">
                  <span class="badge bg-primary">
                    {{ lineaInvestigacion.nombre }}
                    <fa-icon [icon]="faTimes" class="ms-1" (click)="eliminarElementoArreglo(i)"></fa-icon>
                  </span>
                </li>
              </ul>
            </div>
          </div>

          <div class="d-flex align-items-center justify-content-center w-100">

            <button [disabled]="formulario.invalid" (click)="CrearRegistro()" type="submit" class="btn btn-primary text-white w-50 me-2 ">Crear</button>

            <button type="reset" routerLink="/parametrizacion/listar-jurado"
              class="btn bg-white border border-primary w-50 text-primary">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
