<section class="w-100 py-5 d-flex justify-content-center align-items-center">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <form [formGroup]="formulario">
          <input type="hidden" formControlName="estado">
          <p class="fs-2 fw-bold">Editar correo de notificación</p>

          <hr>

          <div class="mb-3">
            <label for="nombre" required="required" class="form-label fw-bold">Nombre </label>
            <fa-icon class="ps-1 icon" size="xs" [icon]="faAsterisk"></fa-icon>
            <input formControlName="nombre" type="text" class="form-control" id="nombre">
          </div>

          <div class="mb-3">
            <label for="correo" required="required" class="form-label fw-bold">Correo </label>
            <fa-icon class="ps-1 icon" size="xs" [icon]="faAsterisk"></fa-icon>
            <input formControlName="correo" type="email" class="form-control" id="correo">
          </div>

          <div class="mb-3">
            <label for="estado" required="required" class="form-label fw-bold">Estado </label>
            <fa-icon class="ps-1 icon" size="xs" [icon]="faAsterisk"></fa-icon>
            <select formControlName="estado" class="form-control">
              <option value="true" selected>Activo</option>
              <option value="false">Inactivo</option>
            </select>
          </div>

          <div class="d-flex align-items-center justify-content-center w-100">
            <button (click)="CrearRegistro()" [disabled]="this.formulario.invalid" type="submit"
             class="btn btn-primary text-white w-50 me-2 ">
              Editar registro
            </button>
            <button type="reset" routerLink="/parametrizacion/listar-correos-notificacion"
              class="btn bg-white border border-primary w-50 text-primary">
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>