@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$primary: #003B70;
$secondary: #050B2D;
$white: #F5F5F5;

$font-family-sans-serif: 'Roboto', sans-serif;
