<nav class="navbar navbar-dark navbar-expand-lg bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">
            <img src="../../../../assets/images/logo-uc-white.png" class= "img-fluid img-logo" alt="Logo universidad de Caldas">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div *ngIf="activeSession" class="collapse navbar-collapse w-100 justify-content-lg-end" id="navbarSupportedContent">

            <ul class="nav navbar-nav w-100 justify-content-center">
                <li class="nav-item dropdown">
                    <a class="nav-link py-3 py-lg-0 mx-lg-2 dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <fa-icon class="pt-2 text-white" [icon]="faPencilAlt"></fa-icon>
                        Evaluación
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="navbarDropdown">
                        <a class="ps-4 py-2 ps-lg-2 px-lg-3 dropdown-item"
                         [routerLink]="['/solicitud', 'listar-solicitud']" [queryParams]="{ filtro: 'registradas' }">
                            Crear invitación a evaluar
                        </a>
                        <a class="ps-4 py-2 ps-lg-2 px-lg-3 dropdown-item" routerLink="evaluacion/listar-recordatorio">Recordatorio</a>
                        <a class="ps-4 py-2 ps-lg-2 px-lg-3 dropdown-item"routerLink="evaluacion/listar-resultado-evaluacion">Resultado de la Evaluación</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link py-3 py-lg-0 mx-lg-2 dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <fa-icon class="pt-2 text-white" [icon]="faCog"></fa-icon>
                        Parametrización
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item ps-4 py-2 ps-lg-2 px-lg-3" routerLink="parametrizacion/listar-comite">Comite</a>
                        <a class="dropdown-item ps-4 py-2 ps-lg-2 px-lg-3" routerLink="parametrizacion/listar-correos-notificacion">Correos de Notificación</a>
                        <a class="dropdown-item ps-4 py-2 ps-lg-2 px-lg-3"routerLink="parametrizacion/listar-departamento">Departamento</a>
                        <a class="dropdown-item ps-4 py-2 ps-lg-2 px-lg-3" routerLink="parametrizacion/listar-estado-solicitud">Estado de la Solicitud</a>
                        <a class="dropdown-item ps-4 py-2 ps-lg-2 px-lg-3" routerLink="parametrizacion/listar-facultad">Facultad</a>
                        <a class="dropdown-item ps-4 py-2 ps-lg-2 px-lg-3" routerLink="parametrizacion/listar-jurado">Jurado</a>
                        <a class="dropdown-item ps-4 py-2 ps-lg-2 px-lg-3" routerLink="parametrizacion/listar-linea-investigacion">Linea de Investigación</a>
                        <a class="dropdown-item ps-4 py-2 ps-lg-2 px-lg-3"routerLink="parametrizacion/listar-modalidad">Modalidad</a>
                        <a class="dropdown-item ps-4 py-2 ps-lg-2 px-lg-3" routerLink="parametrizacion/listar-tipo-solicitud">Tipo de Solicitud</a>
                        <a class="dropdown-item ps-4 py-2 ps-lg-2 px-lg-3" routerLink="parametrizacion/listar-tipo-vinculacion">Tipo de Vinculación</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link py-3 py-lg-0 mx-lg-2 text-white" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false" routerLink="/solicitud/crear-proponente">
                        <fa-icon class="pt-2 text-white" [icon]="faGlobe"></fa-icon>
                        Solicitud
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link py-3 py-lg-0 mx-lg-2 text-white" role="button"
                        aria-haspopup="true" aria-expanded="false">
                        <fa-icon class="pt-2 text-white" [icon]="faUsers"></fa-icon>
                        Usuarios
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link py-3 py-lg-0 mx-lg-2 text-white">
                        <fa-icon class="pt-2 text-white" [icon]="faStickyNote"></fa-icon>
                        Reportes
                    </a>
                </li>
            </ul>

            <hr class="text-white my-1">

            <ul class="nav navbar-nav me-5">
                <li class="nav-item dropdown pull-right">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <fa-icon class="pt-2 text-white" size="1x" [icon]="faUser"></fa-icon>
                    </a>
                    <div class="dropdown-menu border-0 dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item cursor-pointer" routerLink="/seguridad/logout">Cerrar sesión</a>
                        <a class="dropdown-item cursor-pointer" routerLink="/seguridad/cambio-clave">Cambiar Contraseña</a>
                    </div>
                </li>
            </ul>

        </div>

    </div>
</nav>

