<ng-container *ngIf="jurados; else loadingTemplate">

    <section class="w-100 py-5 d-flex justify-content-center align-items-center">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12">
                    <div>
                        <a class="btn btn-primary" [routerLink]="['/solicitud', 'listar-solicitud']" [queryParams]="{filtro: 'registradas'}">
                            <fa-icon class="text-white" [icon]="faArrowLeft"></fa-icon>
                            Regresar a escoger solicitud
                        </a>
                    </div>
                    <section class="form-group my-3"> 
                        <input type="text" class="form-control" placeholder="Escribe el término de búsqueda..." [(ngModel)]="terminoBusqueda">
                    </section>
    
                    <section class="grid-section">
                        <div class="card shadow-sm px-0 pt-3" *ngFor="let jurado of jurados | filter:terminoBusqueda!">
                            <div class="card-body text-center">
                                <h5 class="card-title">{{ jurado.nombre }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ jurado.email }}</h6>
                                <ul class="list-unstyled text-center">
                                    <li>
                                        <fa-icon class="text-primary" [icon]="faMobileAlt"></fa-icon>
                                        {{ jurado.telefono ? jurado.telefono : 'No aplica' }}
                                    </li>
                                    <li>
                                        <fa-icon class="text-primary" [icon]="faUniversity"></fa-icon>
                                        {{ jurado.entidad }}
                                    </li>
                                </ul>
    
                                <div>
                                    <a class="card-link" (click)="crearInvitacionEvaluar(jurado.id)">Seleccionar</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
    
            </div>
        </div>
    </section>

</ng-container>
<ng-template #loadingTemplate>
    


</ng-template>

