<section class="w-100 py-5 d-flex justify-content-center align-items-center">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div>
                    <a class="btn btn-primary" routerLink="/home">
                        <fa-icon class="text-white" [icon]="faArrowLeft"></fa-icon>
                        Regresar a home
                    </a>
                </div>

                <section class="form-group my-3">
                    <select [(ngModel)]="estadoInvitacionesFiltradas"
                     id="filtroEvaluaciones" type="select" class="form-select" (change)="filtarInvitaciones()">
                        <option value="0">Pendientes</option>
                        <option value="1">Aceptadas</option>
                        <option value="2">Rechazadas</option>
                        <option value="4">Todas</option>
                    </select>
                </section>

                <ng-container *ngIf="invitacionesEvaluar; else loadingTemplate">
                    <section class="grid-section">
                        <div class="card shadow-sm px-0 pt-3" *ngFor="let invitacionEvaluar of invitacionesEvaluar">
                            <div class="card-body text-center">
                                <h5 class="card-title">{{ invitacionEvaluar.id_jurado! | obtenerNombreJurado | async }}
                                </h5>
                                <h6 class="card-subtitle mb-2 text-primary">{{ invitacionEvaluar.id_solicitud! |
                                    obtenerNombreTrabajo | async }}</h6>
                                <h6 class="card-subtitle mb-2 text-muted">{{ invitacionEvaluar.estado_invitacion! |
                                    obtenerEstadoInvitacion }}</h6>
                                <ul class="list-unstyled text-center">
                                    <li>
                                        <fa-icon class="text-primary" [icon]="faCalendar"></fa-icon>
                                        {{ invitacionEvaluar.fecha_invitacion! | obtenerFecha }}
                                    </li>
                                    <li>
                                        <fa-icon class="text-primary" [icon]="faCalendarCheck"></fa-icon>
                                        {{ invitacionEvaluar.fecha_respuesta ? (invitacionEvaluar.fecha_respuesta |
                                        obtenerFecha) : 'No hay respuesta' }}
                                    </li>
                                </ul>

                                <div
                                    *ngIf="invitacionEvaluar.estado_invitacion === 1 && invitacionEvaluar.estado_evaluacion === 1">
                                    <a class="card-link" (click)="crearRecordatorio(invitacionEvaluar.id!)">Recordatorio</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </ng-container>

                <ng-template #loadingTemplate>

                    <div class="text-center">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Cargando...</span>
                        </div>
                    </div>

                </ng-template>

            </div>

        </div>
    </div>
</section>