<div class="w-100 vh-100">
    <div class="mb-3">
        <label>Está seguro de eliminar por completo el registro con la siguiente información:</label>
        <ul>
            <li>
                Id: {{id}}
            </li>
            <li>
                Nombre: {{nombre}}
            </li>
        </ul>
    </div>
    <button (click)="EliminarRegistro()" type="submit" class="btn btn-primary">Eliminar</button>
    <a routerLink="/parametrizacion/listar-linea-investigacion" class="btn btn-danger text-white">Cancelar</a>
</div>
